body {
  background: linear-gradient(
    6deg,
    rgba(240, 225, 74, 1) 40%,
    rgba(99, 203, 251, 1) 60%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: rubik;
}

.container {
  margin: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  box-shadow: 1px 0px 9px 0px rgba(50, 50, 50, 0.75);
}

.card-title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

#displayingCharacters {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.card-image {
  width: 200px;
  height: 200px;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50%;
}
